# Experiment 01

First Tests from the predictions.

In [1]:
import numpy as np
import pandas as pd
import math

import sys
sys.path.insert(1, 'C:\\Users\\Adrion\\Desktop\\TG\\DayTradeSystem\\Part1_Prediction')
import Utils 
from Utils import calculateEMA, calculateBB, addPreviousDays, removeColumns, getPeriod, mape, mae, createDate, getDate, printResult

import matplotlib.pyplot as plt
import matplotlib.dates as mpdates
import mplfinance as mpf
from mplfinance.original_flavor import candlestick_ohlc

import warnings
warnings.filterwarnings('ignore')


def getPeriod2(df, begin, end, resetIndex = False):
    """
    Returns the df in the chosen interval
    
    Object begin: Start date forrmated as 'yyyy.mm.dd'.
    Object   end: End date 'yyyy.mm.dd'.

    returns a dataframe with the historic of the selected period
    """
    
    indexBegin = df[df['date']==begin].index[0]
    indexEnd = df[df['date']==end].tail(1).index[0]
    
    if (resetIndex):
        return df[(df.index >= indexBegin) & (df.index <= indexEnd)].reset_index(drop=True)
    else: 
        return df[(df.index >= indexBegin) & (df.index <= indexEnd)]

In [2]:
dfColumns = ['date','time','open', 'high', 'low','close','tickvol','volume','spread']
newColumns = ['open', 'high', 'low', 'close']

TEST_BEGIN = '2020.06.01'
TEST_END = '2021.06.01'

In [3]:
df = pd.read_csv('../Data/PETR4_M15.csv', sep = "\t")
df.columns = dfColumns
df = removeColumns(df, ['tickvol', 'volume','spread'])

df2 = pd.read_csv('../Data/VALE3_M15.csv', sep = "\t")
df2.columns = dfColumns
df2 = removeColumns(df2, ['tickvol', 'volume','spread'])

initialDf_PETR4 = getPeriod2(df, TEST_BEGIN, TEST_END)
initialDf_VALE3 = getPeriod2(df2, TEST_BEGIN, TEST_END)

In [4]:
initialDf_PETR4

            date      time   open   high    low  close
0     2020.06.01  10:00:00  19.50  19.59  19.38  19.59
1     2020.06.01  10:15:00  19.58  19.68  19.35  19.45
2     2020.06.01  10:30:00  19.46  19.67  19.35  19.64
3     2020.06.01  10:45:00  19.64  19.73  19.49  19.52
4     2020.06.01  11:00:00  19.52  19.74  19.48  19.68
...          ...       ...    ...    ...    ...    ...
7311  2021.06.01  15:45:00  27.14  27.14  27.05  27.06
7312  2021.06.01  16:00:00  27.06  27.09  27.01  27.02
7313  2021.06.01  16:15:00  27.01  27.17  27.01  27.14
7314  2021.06.01  16:30:00  27.15  27.31  27.11  27.27
7315  2021.06.01  16:45:00  27.27  27.34  27.26  27.29

[7316 rows x 6 columns]

In [5]:
initialDf_VALE3

            date      time    open    high     low   close
0     2020.06.01  10:00:00   49.43   49.56   49.14   49.45
1     2020.06.01  10:15:00   49.43   49.78   49.42   49.57
2     2020.06.01  10:30:00   49.58   49.79   49.29   49.72
3     2020.06.01  10:45:00   49.72   50.03   49.62   49.94
4     2020.06.01  11:00:00   49.94   49.97   49.70   49.86
...          ...       ...     ...     ...     ...     ...
7301  2021.06.01  15:45:00  113.84  113.95  113.61  113.72
7302  2021.06.01  16:00:00  113.72  114.00  113.70  113.99
7303  2021.06.01  16:15:00  113.99  114.00  113.90  113.96
7304  2021.06.01  16:30:00  113.97  114.00  113.88  113.88
7305  2021.06.01  16:45:00  113.89  114.00  113.20  113.20

[7306 rows x 6 columns]

In [6]:
pred_PETR4 = pd.read_pickle('../Data/PETR4_Pred_ytd.pkl')
pred_PETR4.head(5)

      high    low  high_pred  low_pred        date
600  19.89  19.35   19.46755  18.66315  2020.06.01
601  20.70  19.93   19.46890  18.66245  2020.06.02
602  21.20  20.71   19.83215  19.00570  2020.06.03
603  21.07  20.36   19.74140  18.89875  2020.06.04
604  22.28  21.34   19.93865  19.08815  2020.06.05

In [7]:
pred_VALE3 = pd.read_pickle('../Data/VALE3_Pred_ytd.pkl')
pred_VALE3.head(15)

      high    low  high_pred  low_pred        date
600  50.40  49.14   49.73290  48.67650  2020.06.01
601  50.35  49.60   50.51375  49.58665  2020.06.02
602  50.86  49.96   50.74020  49.89305  2020.06.03
603  52.13  50.09   51.01740  50.13460  2020.06.04
604  53.07  50.86   52.26270  51.18830  2020.06.05
605  52.08  50.52   52.10685  50.99675  2020.06.08
606  51.47  50.65   52.12025  50.84390  2020.06.09
607  51.66  50.31   52.24530  50.86215  2020.06.10
608  50.59  48.65   52.03815  50.71490  2020.06.12
609  50.94  48.79   50.89725  49.55625  2020.06.15
610  51.94  50.75   51.92840  50.47135  2020.06.16
611  52.82  51.62   52.34990  50.97655  2020.06.17
612  52.92  52.05   52.80360  51.57655  2020.06.18
613  52.97  51.20   52.85845  51.67805  2020.06.19
614  51.80  50.94   52.24570  51.06440  2020.06.22

### Início do sistema

In [8]:
def getDay(df, day):
    return df[df['date']==day]

def buy(value, availableMoney, opr='normal'):
    lotValue = value*100
    quantity = math.floor(availableMoney/lotValue)
    
    amount = quantity*lotValue
    remainingMoney = availableMoney - amount
    
    return remainingMoney, quantity

def sell(value, amount, opr='normal'):
    if(opr == 'normal'):
        return value*amount*100
    else:
        return value*amount*100

In [9]:
def runStrategy(df, dailyDf, Money, stopLoss, std):
    size = len(df.index)

    Money = Money
    stopLoss = stopLoss

    orders = []

    for day in range(0,size):
        currentDay =  df.iloc[day].date

        lowPred = df.iloc[day].low_pred*(1+std)
        highPred = df.iloc[day].high_pred*(1-std)

        dayDf = getPeriod2(dailyDf, currentDay, currentDay)
        daySize = len(dayDf.index)

        op = 'none'
        quantity = 0
        trade = []

        for i in range(0,daySize):
            currentTime = dayDf.iloc[i]

            if((op == 'buy') and (currentTime.close < opPrice*(1-stopLoss) or currentTime.close >= highPred or i == daySize-1)):
                isStop = False
                if(currentTime.close < opPrice*(1-stopLoss)): isStop = True
                aux = sell(currentTime.close, quantity)
                Money = Money + aux 
                trade = trade + [currentTime.time, 'Sell', currentTime.close, currentTime.close-opPrice,(currentTime.close-opPrice)*100*quantity, isStop, Money]
                orders.append(trade)

                quantity = 0
                op = 'none'

            elif((op == 'sell') and (currentTime.close > opPrice*(1+stopLoss) or currentTime.close <= lowPred or i == daySize-1)):
                isStop = False
                if(currentTime.close > opPrice*(1+stopLoss)): isStop = True

                aux = sell(currentTime.close, quantity)
                Money = Money + (opPrice*100*quantity) + ((opPrice*100*quantity) - aux) 
                trade = trade + [currentTime.time, 'Buy', currentTime.close, opPrice-currentTime.close,(opPrice-currentTime.close)*100*quantity, isStop, Money]
                orders.append(trade)

                quantity = 0
                op = 'none'

            elif(op == 'none' and i < daySize-1 ):
                if(currentTime.close <= lowPred):
                    Money, quantity = buy(currentTime.close, Money)
                    opPrice = currentTime.close
                    op = 'buy'

                    trade = [currentTime.date, quantity, currentTime.time, 'Buy', currentTime.close]

                elif(currentTime.close >=  highPred):
                    Money, quantity = buy(currentTime.close, Money)
                    opPrice = currentTime.close
                    op = 'sell'

                    trade = [currentTime.date, quantity, currentTime.time, 'Sell', currentTime.close]
        print('eday '+str(day)+' money: '+str(Money))
    
    ordersDf = pd.DataFrame(orders)
    ordersDf.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']
    return ordersDf

In [10]:
testPetr = runStrategy(pred_PETR4, initialDf_PETR4, 100000, 0.005, 0.01)
print('Accuracy: '+str(round(100*len(testPetr[testPetr['profit'] > 0].index)/len(testPetr.index), 2)))

testVale = runStrategy(pred_VALE3, initialDf_VALE3, 100000, 0.005, 0.01)
print('Accuracy: '+str(round(100*len(testVale[testVale['profit'] > 0].index)/len(testVale.index), 2)))

eday 0 money: 99369.0
eday 1 money: 96524.00000000003
eday 2 money: 98324.00000000003
eday 3 money: 97846.00000000001
eday 4 money: 100266.00000000003
eday 5 money: 100446.00000000003
eday 6 money: 100446.00000000003
eday 7 money: 104081.00000000004
eday 8 money: 104409.00000000003
eday 9 money: 102210.00000000004
eday 10 money: 102594.00000000004
eday 11 money: 106465.00000000007
eday 12 money: 108811.0000000001
eday 13 money: 112727.0000000001
eday 14 money: 110297.00000000009
eday 15 money: 110591.00000000009
eday 16 money: 108948.00000000013
eday 17 money: 111174.00000000013
eday 18 money: 110148.00000000013
eday 19 money: 109201.00000000013
eday 20 money: 111904.0000000001
eday 21 money: 112387.0000000001
eday 22 money: 112491.0000000001
eday 23 money: 112373.0000000001
eday 24 money: 112956.0000000001
eday 25 money: 113736.0000000001
eday 26 money: 111629.0000000001
eday 27 money: 114129.0000000001
eday 28 money: 116991.0000000001
eday 29 money: 116991.0000000001
eday 30 money: 115895.0000000001
eday 31 money: 115793.0000000001
eday 32 money: 118292.0000000001
eday 33 money: 119352.0000000001
eday 34 money: 118913.0000000001
eday 35 money: 119205.00000000012
eday 36 money: 120661.0000000001
eday 37 money: 122863.0000000001
eday 38 money: 125999.00000000012
eday 39 money: 125136.00000000012
eday 40 money: 126407.0000000001
eday 41 money: 126575.0000000001
eday 42 money: 127430.00000000012
eday 43 money: 126295.00000000009
eday 44 money: 122757.0000000001
eday 45 money: 125058.00000000012
eday 46 money: 126039.00000000012
eday 47 money: 126864.00000000013
eday 48 money: 127092.00000000013
eday 49 money: 126370.00000000016
eday 50 money: 129934.00000000016
eday 51 money: 129578.00000000013
eday 52 money: 131391.00000000017
eday 53 money: 131214.00000000015
eday 54 money: 130447.00000000017
eday 55 money: 132365.00000000017
eday 56 money: 135521.00000000017
eday 57 money: 139503.00000000015
eday 58 money: 139692.00000000015
eday 59 money: 139493.00000000015
eday 60 money: 140488.00000000012
eday 61 money: 141407.00000000015
eday 62 money: 140107.00000000012
eday 63 money: 142187.00000000012
eday 64 money: 139327.00000000012
eday 65 money: 140032.00000000015
eday 66 money: 143682.00000000015
eday 67 money: 142831.00000000015
eday 68 money: 144196.00000000015
eday 69 money: 145082.00000000012
eday 70 money: 143898.00000000012
eday 71 money: 144008.00000000012
eday 72 money: 143740.00000000012
eday 73 money: 142301.00000000012
eday 74 money: 141832.00000000015
eday 75 money: 142954.00000000015
eday 76 money: 141288.00000000015
eday 77 money: 143006.00000000017
eday 78 money: 139694.00000000015
eday 79 money: 138742.00000000015
eday 80 money: 135942.0000000001
eday 81 money: 137391.0000000001
eday 82 money: 137601.0000000001
eday 83 money: 133821.00000000006
eday 84 money: 131651.00000000006
eday 85 money: 131789.00000000006
eday 86 money: 133928.00000000006
eday 87 money: 129308.00000000006
eday 88 money: 134888.00000000006
eday 89 money: 136992.00000000006
eday 90 money: 138504.00000000003
eday 91 money: 136117.00000000003
eday 92 money: 134577.00000000003
eday 93 money: 134232.00000000003
eday 94 money: 136272.00000000006
eday 95 money: 137053.0000000001
eday 96 money: 135757.0000000001
eday 97 money: 141877.00000000006
eday 98 money: 140203.00000000003
eday 99 money: 141571.00000000006
eday 100 money: 140731.00000000006
eday 101 money: 143617.00000000006
eday 102 money: 147625.0
eday 103 money: 146561.00000000003
eday 104 money: 140152.00000000006
eday 105 money: 145851.00000000003
eday 106 money: 144280.99999999997
eday 107 money: 144955.99999999997
eday 108 money: 153213.0
eday 109 money: 153134.00000000003
eday 110 money: 153845.00000000003
eday 111 money: 155429.00000000003
eday 112 money: 149821.00000000006
eday 113 money: 154090.00000000006
eday 114 money: 156117.00000000006
eday 115 money: 154140.00000000006
eday 116 money: 154743.00000000006
eday 117 money: 151100.00000000006
eday 118 money: 154025.00000000006
eday 119 money: 151817.00000000006
eday 120 money: 152015.00000000006
eday 121 money: 144614.0
eday 122 money: 141504.00000000003
eday 123 money: 141779.00000000003
eday 124 money: 142171.00000000003
eday 125 money: 144747.00000000003
eday 126 money: 149820.00000000003
eday 127 money: 149820.00000000003
eday 128 money: 151835.00000000003
eday 129 money: 150010.00000000003
eday 130 money: 148554.00000000003
eday 131 money: 149200.00000000003
eday 132 money: 150586.00000000003
eday 133 money: 149253.00000000006
eday 134 money: 147587.00000000006
eday 135 money: 146973.00000000006
eday 136 money: 148540.00000000006
eday 137 money: 147985.00000000006
eday 138 money: 146099.00000000006
eday 139 money: 145993.00000000006
eday 140 money: 146364.00000000003
eday 141 money: 149100.00000000003
eday 142 money: 148708.00000000003
eday 143 money: 152558.0
eday 144 money: 152832.99999999997
eday 145 money: 153492.99999999997
eday 146 money: 153602.99999999997
eday 147 money: 151687.99999999994
eday 148 money: 146077.99999999997
eday 149 money: 148025.99999999997
eday 150 money: 146017.00000000003
eday 151 money: 147991.00000000003
eday 152 money: 147599.00000000003
eday 153 money: 150959.00000000003
eday 154 money: 155619.00000000003
eday 155 money: 156555.0
eday 156 money: 153139.00000000003
eday 157 money: 151599.00000000003
eday 158 money: 153138.00000000006
eday 159 money: 150333.00000000006
eday 160 money: 147418.0000000001
eday 161 money: 149042.0000000001
eday 162 money: 151710.0000000001
eday 163 money: 154418.0000000001
eday 164 money: 153815.0000000001
eday 165 money: 148856.0000000001
eday 166 money: 151768.0000000001
eday 167 money: 152902.0000000001
eday 168 money: 152665.0000000001
eday 169 money: 157571.0000000001
eday 170 money: 160669.0000000001
eday 171 money: 159045.00000000015
eday 172 money: 154985.00000000015
eday 173 money: 157537.0000000001
eday 174 money: 161770.00000000012
eday 175 money: 162736.00000000012
eday 176 money: 163134.00000000012
eday 177 money: 171828.00000000012
eday 178 money: 166815.00000000015
eday 179 money: 160566.00000000015
eday 180 money: 162661.00000000017
eday 181 money: 163639.00000000017
eday 182 money: 154280.0000000002
eday 183 money: 148145.0000000002
eday 184 money: 146462.00000000026
eday 185 money: 151787.0000000003
eday 186 money: 150740.00000000032
eday 187 money: 153835.00000000032
eday 188 money: 154927.00000000032
eday 189 money: 155846.00000000032
eday 190 money: 162686.00000000032
eday 191 money: 160721.00000000032
eday 192 money: 156425.00000000032
eday 193 money: 157322.00000000032
eday 194 money: 155134.00000000035
eday 195 money: 153706.00000000035
eday 196 money: 149688.00000000032
eday 197 money: 147218.00000000035
eday 198 money: 145378.00000000038
eday 199 money: 144937.00000000038
eday 200 money: 143529.00000000038
eday 201 money: 141437.00000000035
eday 202 money: 141583.00000000035
eday 203 money: 145297.00000000035
eday 204 money: 142667.00000000032
eday 205 money: 142286.00000000032
eday 206 money: 141132.00000000032
eday 207 money: 140472.00000000032
eday 208 money: 141372.00000000032
eday 209 money: 140772.00000000032
eday 210 money: 143890.0000000003
eday 211 money: 144014.0000000003
eday 212 money: 144581.00000000026
eday 213 money: 147462.00000000026
eday 214 money: 147525.00000000026
eday 215 money: 147703.00000000026
eday 216 money: 149779.00000000026
eday 217 money: 149661.00000000026
eday 218 money: 151297.00000000023
eday 219 money: 148879.00000000023
eday 220 money: 148879.00000000023
eday 221 money: 148879.00000000023
eday 222 money: 148879.00000000023
eday 223 money: 147493.00000000026
eday 224 money: 147493.00000000026
eday 225 money: 147493.00000000026
eday 226 money: 147493.00000000026
eday 227 money: 147493.00000000026
eday 228 money: 144847.00000000023
eday 229 money: 149063.0000000002
eday 230 money: 149373.00000000023
eday 231 money: 147338.00000000023
eday 232 money: 147279.00000000023
eday 233 money: 148601.00000000023
eday 234 money: 152368.00000000023
eday 235 money: 154076.00000000023
eday 236 money: 151505.00000000023
eday 237 money: 150483.00000000023
eday 238 money: 152386.00000000023
eday 239 money: 153256.0000000002
eday 240 money: 154119.00000000017
eday 241 money: 153706.00000000017
eday 242 money: 155794.00000000017
eday 243 money: 156682.00000000017
eday 244 money: 158842.00000000017
eday 245 money: 161008.00000000017
eday 246 money: 158807.00000000017
eday 247 money: 159387.00000000017
eday 248 money: 160705.00000000017
Accuracy: 39.13
eday 0 money: 99365.0
eday 1 money: 100175.0
eday 2 money: 102991.0
eday 3 money: 102399.0
eday 4 money: 103940.0
eday 5 money: 103997.0
eday 6 money: 105197.00000000001
eday 7 money: 104857.0
eday 8 money: 105822.99999999999
eday 9 money: 109540.0
eday 10 money: 110569.0
eday 11 money: 109597.0
eday 12 money: 109356.99999999999
eday 13 money: 108993.99999999999
eday 14 money: 109329.99999999999
eday 15 money: 108969.99999999997
eday 16 money: 108269.99999999997
eday 17 money: 109107.99999999999
eday 18 money: 110030.0
eday 19 money: 111794.00000000001
eday 20 money: 111647.00000000001
eday 21 money: 111794.00000000003
eday 22 money: 111101.00000000003
eday 23 money: 112025.0
eday 24 money: 112004.0
eday 25 money: 114482.0
eday 26 money: 116435.00000000003
eday 27 money: 119628.99999999997
eday 28 money: 119738.99999999996
eday 29 money: 121565.99999999994
eday 30 money: 114771.99999999997
eday 31 money: 116291.99999999997
eday 32 money: 118571.99999999996
eday 33 money: 118291.99999999994
eday 34 money: 117511.99999999991
eday 35 money: 118611.99999999993
eday 36 money: 119997.99999999993
eday 37 money: 121929.99999999993
eday 38 money: 121687.99999999993
eday 39 money: 117717.99999999991
eday 40 money: 117157.9999999999
eday 41 money: 114113.9999999999
eday 42 money: 114873.9999999999
eday 43 money: 117419.9999999999
eday 44 money: 120939.9999999999
eday 45 money: 122409.9999999999
eday 46 money: 122818.9999999999
eday 47 money: 124338.99999999991
eday 48 money: 127368.99999999991
eday 49 money: 124997.99999999988
eday 50 money: 125541.99999999987
eday 51 money: 128162.99999999987
eday 52 money: 128558.99999999988
eday 53 money: 126600.9999999999
eday 54 money: 125844.99999999988
eday 55 money: 126642.99999999988
eday 56 money: 127734.99999999988
eday 57 money: 125340.99999999988
eday 58 money: 125361.99999999987
eday 59 money: 124290.99999999987
eday 60 money: 122883.99999999988
eday 61 money: 122967.99999999987
eday 62 money: 121392.99999999987
eday 63 money: 121497.99999999987
eday 64 money: 120279.99999999987
eday 65 money: 118622.99999999985
eday 66 money: 121588.99999999985
eday 67 money: 122825.99999999987
eday 68 money: 123676.99999999987
eday 69 money: 123060.99999999987
eday 70 money: 123999.99999999985
eday 71 money: 124989.99999999987
eday 72 money: 122178.9999999999
eday 73 money: 124758.9999999999
eday 74 money: 125335.99999999988
eday 75 money: 123130.9999999999
eday 76 money: 124012.99999999987
eday 77 money: 124495.99999999984
eday 78 money: 122479.99999999983
eday 79 money: 122668.99999999983
eday 80 money: 122185.99999999987
eday 81 money: 121345.99999999988
eday 82 money: 121555.99999999987
eday 83 money: 124594.99999999984
eday 84 money: 126547.99999999984
eday 85 money: 127660.99999999983
eday 86 money: 129970.99999999983
eday 87 money: 131488.99999999983
eday 88 money: 130608.9999999998
eday 89 money: 132239.9999999998
eday 90 money: 130655.99999999981
eday 91 money: 128241.99999999978
eday 92 money: 128157.9999999998
eday 93 money: 126744.99999999981
eday 94 money: 125424.9999999998
eday 95 money: 124864.99999999978
eday 96 money: 126144.9999999998
eday 97 money: 127564.9999999998
eday 98 money: 127218.9999999998
eday 99 money: 125721.99999999981
eday 100 money: 126521.99999999978
eday 101 money: 126261.99999999978
eday 102 money: 127983.99999999981
eday 103 money: 128649.99999999981
eday 104 money: 125604.99999999981
eday 105 money: 126388.9999999998
eday 106 money: 123056.99999999981
eday 107 money: 123476.99999999981
eday 108 money: 125964.9999999998
eday 109 money: 128004.9999999998
eday 110 money: 126744.9999999998
eday 111 money: 127244.99999999978
eday 112 money: 127904.99999999977
eday 113 money: 126624.99999999974
eday 114 money: 129031.99999999975
eday 115 money: 128287.99999999974
eday 116 money: 125655.99999999974
eday 117 money: 124065.99999999974
eday 118 money: 123952.99999999974
eday 119 money: 122890.99999999974
eday 120 money: 122224.99999999974
eday 121 money: 118139.99999999974
eday 122 money: 114546.99999999972
eday 123 money: 112447.99999999971
eday 124 money: 111847.9999999997
eday 125 money: 110461.99999999974
eday 126 money: 111917.99999999975
eday 127 money: 108364.99999999977
eday 128 money: 109677.99999999978
eday 129 money: 111637.99999999978
eday 130 money: 110277.99999999978
eday 131 money: 109627.99999999978
eday 132 money: 109692.99999999977
eday 133 money: 110732.9999999998
eday 134 money: 109276.9999999998
eday 135 money: 109068.9999999998
eday 136 money: 110563.99999999978
eday 137 money: 110849.9999999998
eday 138 money: 110277.9999999998
eday 139 money: 108906.9999999998
eday 140 money: 109170.9999999998
eday 141 money: 109235.99999999978
eday 142 money: 110704.9999999998
eday 143 money: 109846.9999999998
eday 144 money: 109660.9999999998
eday 145 money: 110856.99999999978
eday 146 money: 110336.99999999978
eday 147 money: 107492.99999999978
eday 148 money: 106148.99999999978
eday 149 money: 104630.99999999978
eday 150 money: 100691.99999999974
eday 151 money: 100601.99999999974
eday 152 money: 99281.99999999975
eday 153 money: 101971.99999999974
eday 154 money: 103621.99999999974
eday 155 money: 103467.99999999974
eday 156 money: 106789.99999999974
eday 157 money: 106932.99999999974
eday 158 money: 107295.99999999974
eday 159 money: 112465.99999999972
eday 160 money: 117461.99999999975
eday 161 money: 119892.99999999977
eday 162 money: 118241.99999999977
eday 163 money: 115953.99999999974
eday 164 money: 119268.99999999974
eday 165 money: 115407.99999999975
eday 166 money: 115706.99999999978
eday 167 money: 112300.99999999978
eday 168 money: 113457.99999999978
eday 169 money: 110793.99999999978
eday 170 money: 108549.9999999998
eday 171 money: 108480.9999999998
eday 172 money: 108456.9999999998
eday 173 money: 108940.9999999998
eday 174 money: 110810.9999999998
eday 175 money: 112178.99999999978
eday 176 money: 111842.9999999998
eday 177 money: 112788.99999999981
eday 178 money: 112914.99999999981
eday 179 money: 115566.99999999981
eday 180 money: 116238.9999999998
eday 181 money: 116490.99999999981
eday 182 money: 118086.99999999984
eday 183 money: 119180.99999999981
eday 184 money: 117800.9999999998
eday 185 money: 114828.99999999983
eday 186 money: 117611.99999999983
eday 187 money: 118259.99999999981
eday 188 money: 113270.99999999983
eday 189 money: 111911.99999999985
eday 190 money: 113561.99999999987
eday 191 money: 113462.9999999999
eday 192 money: 113154.9999999999
eday 193 money: 112934.99999999991
eday 194 money: 113583.99999999991
eday 195 money: 114617.9999999999
eday 196 money: 112736.99999999985
eday 197 money: 113990.99999999985
eday 198 money: 115106.99999999987
eday 199 money: 115754.99999999988
eday 200 money: 113774.9999999999
eday 201 money: 114146.99999999988
eday 202 money: 114362.99999999988
eday 203 money: 112971.99999999988
eday 204 money: 112179.99999999988
eday 205 money: 113312.99999999988
eday 206 money: 112234.9999999999
eday 207 money: 113224.9999999999
eday 208 money: 109877.99999999987
eday 209 money: 111597.99999999987
eday 210 money: 110047.99999999985
eday 211 money: 110757.99999999985
eday 212 money: 111587.99999999985
eday 213 money: 110737.99999999984
eday 214 money: 111227.99999999984
eday 215 money: 109647.99999999983
eday 216 money: 110907.99999999984
eday 217 money: 110687.99999999984
eday 218 money: 112557.99999999984
eday 219 money: 114147.99999999985
eday 220 money: 114687.99999999987
eday 221 money: 114797.99999999988
eday 222 money: 115767.9999999999
eday 223 money: 114887.99999999988
eday 224 money: 113057.99999999988
eday 225 money: 113857.99999999988
eday 226 money: 115557.9999999999
eday 227 money: 116777.99999999991
eday 228 money: 115517.9999999999
eday 229 money: 117077.99999999991
eday 230 money: 114877.9999999999
eday 231 money: 115714.9999999999
eday 232 money: 119926.9999999999
eday 233 money: 115791.99999999991
eday 234 money: 119157.99999999991
eday 235 money: 117417.99999999993
eday 236 money: 117347.99999999991
eday 237 money: 115937.99999999993
eday 238 money: 115437.99999999993
eday 239 money: 118077.99999999993
eday 240 money: 117267.99999999991
eday 241 money: 116547.99999999993
eday 242 money: 118767.99999999993
eday 243 money: 116137.99999999994
eday 244 money: 118027.99999999994
eday 245 money: 119287.99999999993
eday 246 money: 120537.9999999999
eday 247 money: 118837.9999999999
eday 248 money: 121227.99999999988
Accuracy: 42.92

In [11]:
testPetr.tail(10)

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
588,2021.05.27,62,13:15:00,Buy,25.88,16:45:00,Sell,25.91,0.03,186.0,False,161008.0
589,2021.05.28,60,10:45:00,Sell,26.64,11:00:00,Buy,26.82,-0.18,-1080.0,True,159928.0
590,2021.05.28,59,11:15:00,Sell,26.82,14:30:00,Buy,26.97,-0.15,-885.0,True,159043.0
591,2021.05.28,59,14:45:00,Sell,26.95,16:45:00,Buy,26.99,-0.04,-236.0,False,158807.0
592,2021.05.31,58,10:00:00,Sell,26.97,16:45:00,Buy,26.87,0.10,580.0,False,159387.0
593,2021.06.01,58,10:00:00,Buy,27.37,10:15:00,Sell,27.52,0.15,870.0,False,160257.0
594,2021.06.01,58,10:30:00,Buy,27.36,10:45:00,Sell,27.36,0.00,0.0,False,160257.0
595,2021.06.01,58,11:00:00,Sell,27.42,11:30:00,Buy,27.37,0.05,290.0,False,160547.0
596,2021.06.01,59,11:45:00,Buy,27.18,14:30:00,Sell,27.02,-0.16,-944.0,True,159603.0
597,2021.06.01,58,14:45:00,Buy,27.10,16:45:00,Sell,27.29,0.19,1102.0,False,160705.0

In [12]:
testVale.tail(10)

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
647,2021.05.28,10,10:00:00,Sell,111.15,10:15:00,Buy,110.26,0.89,890.0,False,120178.0
648,2021.05.28,10,11:00:00,Buy,110.27,12:30:00,Sell,111.08,0.81,810.0,False,120988.0
649,2021.05.28,10,12:45:00,Sell,111.17,14:00:00,Buy,111.75,-0.58,-580.0,True,120408.0
650,2021.05.28,10,14:15:00,Sell,112.13,14:30:00,Buy,112.70,-0.57,-570.0,True,119838.0
651,2021.05.28,10,14:45:00,Sell,112.29,16:45:00,Buy,111.59,0.70,700.0,False,120538.0
652,2021.05.31,10,10:00:00,Sell,113.62,10:15:00,Buy,114.48,-0.86,-860.0,True,119678.0
653,2021.05.31,10,10:30:00,Sell,114.06,11:00:00,Buy,114.75,-0.69,-690.0,True,118988.0
654,2021.05.31,10,11:15:00,Sell,114.63,16:45:00,Buy,114.78,-0.15,-150.0,False,118838.0
655,2021.06.01,10,10:00:00,Sell,117.54,14:30:00,Buy,114.19,3.35,3350.0,False,122188.0
656,2021.06.01,10,14:45:00,Buy,114.16,16:45:00,Sell,113.20,-0.96,-960.0,True,121228.0

In [13]:
df = pred_VALE3
dailyDf = initialDf_VALE3
size = len(df.index)

Money = 100000
stopLoss = 0.01
LastTrade = ['None',10,100]

orders = []

for day in range(0,size):
    currentDay =  df.iloc[day].date

    lowPred = df.iloc[day].low_pred*1.01
    highPred = df.iloc[day].high_pred*0.99
    
    dayDf = getPeriod2(dailyDf, currentDay, currentDay)
    daySize = len(dayDf.index)
    
    op = 'none'
    quantity = 0
    trade = []
    
    print('Begining day '+str(day)+' money: '+str(Money))
    for i in range(0,daySize):
        currentTime = dayDf.iloc[i]
        
        if((op == 'buy') and (currentTime.close < opPrice*(1-stopLoss) or currentTime.close >= highPred or i == daySize-1)):
            isStop = False
            if(currentTime.close < opPrice*(1-stopLoss)): isStop = True
            aux = sell(currentTime.close, quantity)
            Money = Money + aux 
            trade = trade + [currentTime.time, 'Sell', currentTime.close, currentTime.close-opPrice,(currentTime.close-opPrice)*100*quantity, isStop, Money]
            orders.append(trade)
  
            quantity = 0
            op = 'none'
        
        elif((op == 'sell') and (currentTime.close > opPrice*(1+stopLoss) or currentTime.close <= lowPred or i == daySize-1)):
            isStop = False
            if(currentTime.close > opPrice*(1+stopLoss)): isStop = True

            aux = sell(currentTime.close, quantity)
            Money = Money + (opPrice*100*quantity) + ((opPrice*100*quantity) - aux) 
            trade = trade + [currentTime.time, 'Buy', currentTime.close, opPrice-currentTime.close,(opPrice-currentTime.close)*100*quantity, isStop, Money]
            orders.append(trade)
            
            quantity = 0
            op = 'none'
        
        elif(op == 'none' and i < daySize-1 ):
            if(currentTime.close <= lowPred):
                Money, quantity = buy(currentTime.close, Money)
                opPrice = currentTime.close
                op = 'buy'
                
                trade = [currentTime.date, quantity, currentTime.time, 'Buy', currentTime.close]
                
            elif(currentTime.close >=  highPred):
                Money, quantity = buy(currentTime.close, Money)
                opPrice = currentTime.close
                op = 'sell'
                
                trade = [currentTime.date, quantity, currentTime.time, 'Sell', currentTime.close]

test2 = pd.DataFrame(orders)
test2.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']
test2.tail(60)

test2 = pd.DataFrame(orders)
test2.columns = ['date','batches','time_op1','op1','value_op1','time_op2','op2','value_op2', 'profit', 'totalProfit', 'stop','Amount']

print('Accuracy: '+str(round(100*len(test2[test2['profit'] > 0].index)/len(test2.index), 2)))
test2.head(10)

Begining day 0 money: 100000
Begining day 1 money: 98621.0
Begining day 2 money: 99438.0
Begining day 3 money: 102215.99999999999
Begining day 4 money: 101360.99999999999
Begining day 5 money: 102124.99999999999
Begining day 6 money: 103022.99999999999
Begining day 7 money: 104223.0
Begining day 8 money: 103242.99999999999
Begining day 9 money: 103522.99999999997
Begining day 10 money: 107239.99999999999
Begining day 11 money: 107857.99999999997
Begining day 12 money: 106897.99999999999
Begining day 13 money: 106477.99999999997
Begining day 14 money: 107657.99999999997
Begining day 15 money: 107977.99999999996
Begining day 16 money: 107677.99999999996
Begining day 17 money: 106757.99999999996
Begining day 18 money: 107457.99999999997
Begining day 19 money: 108357.99999999999
Begining day 20 money: 110079.99999999999
Begining day 21 money: 110940.99999999999
Begining day 22 money: 110394.99999999997
Begining day 23 money: 108798.99999999999
Begining day 24 money: 109722.99999999996
Begining day 25 money: 110121.99999999996
Begining day 26 money: 112555.99999999996
Begining day 27 money: 114697.99999999999
Begining day 28 money: 117869.99999999991
Begining day 29 money: 118045.9999999999
Begining day 30 money: 119284.99999999988
Begining day 31 money: 113466.99999999988
Begining day 32 money: 114986.99999999988
Begining day 33 money: 117266.99999999987
Begining day 34 money: 116986.99999999985
Begining day 35 money: 116626.99999999984
Begining day 36 money: 117726.99999999985
Begining day 37 money: 119046.99999999985
Begining day 38 money: 120978.99999999985
Begining day 39 money: 120736.99999999985
Begining day 40 money: 116495.99999999985
Begining day 41 money: 116895.99999999984
Begining day 42 money: 113984.99999999984
Begining day 43 money: 114820.99999999984
Begining day 44 money: 117366.99999999984
Begining day 45 money: 120886.99999999984
Begining day 46 money: 122356.99999999984
Begining day 47 money: 122356.99999999984
Begining day 48 money: 123876.99999999985
Begining day 49 money: 126906.99999999985
Begining day 50 money: 123403.99999999985
Begining day 51 money: 124159.99999999984
Begining day 52 money: 126343.99999999984
Begining day 53 money: 126678.99999999983
Begining day 54 money: 125402.99999999981
Begining day 55 money: 124919.99999999981
Begining day 56 money: 125717.99999999981
Begining day 57 money: 127376.99999999981
Begining day 58 money: 125675.99999999981
Begining day 59 money: 125486.9999999998
Begining day 60 money: 124667.9999999998
Begining day 61 money: 123155.9999999998
Begining day 62 money: 123302.99999999978
Begining day 63 money: 120698.99999999978
Begining day 64 money: 120803.99999999978
Begining day 65 money: 119585.99999999978
Begining day 66 money: 117302.99999999977
Begining day 67 money: 120562.99999999977
Begining day 68 money: 121318.99999999978
Begining day 69 money: 122242.99999999978
Begining day 70 money: 120961.99999999977
Begining day 71 money: 121906.99999999977
Begining day 72 money: 123141.9999999998
Begining day 73 money: 120354.9999999998
Begining day 74 money: 122934.9999999998
Begining day 75 money: 122994.9999999998
Begining day 76 money: 120621.99999999981
Begining day 77 money: 121510.99999999981
Begining day 78 money: 122810.99999999981
Begining day 79 money: 121277.99999999978
Begining day 80 money: 120290.99999999977
Begining day 81 money: 119504.99999999975
Begining day 82 money: 118824.99999999975
Begining day 83 money: 118844.99999999978
Begining day 84 money: 121826.99999999977
Begining day 85 money: 123014.99999999977
Begining day 86 money: 123896.99999999977
Begining day 87 money: 126080.99999999977
Begining day 88 money: 127835.99999999977
Begining day 89 money: 126977.99999999975
Begining day 90 money: 127433.99999999975
Begining day 91 money: 125686.99999999975
Begining day 92 money: 123225.99999999974
Begining day 93 money: 123145.99999999974
Begining day 94 money: 121114.99999999974
Begining day 95 money: 119871.99999999974
Begining day 96 money: 119320.99999999974
Begining day 97 money: 120536.99999999974
Begining day 98 money: 121980.99999999974
Begining day 99 money: 121560.99999999974
Begining day 100 money: 119976.99999999974
Begining day 101 money: 120527.99999999975
Begining day 102 money: 119900.99999999975
Begining day 103 money: 121936.99999999975
Begining day 104 money: 122696.99999999977
Begining day 105 money: 119556.99999999978
Begining day 106 money: 122256.99999999978
Begining day 107 money: 119936.99999999978
Begining day 108 money: 119273.99999999977
Begining day 109 money: 121615.99999999978
Begining day 110 money: 123655.99999999978
Begining day 111 money: 122499.99999999978
Begining day 112 money: 123069.99999999978
Begining day 113 money: 123696.99999999978
Begining day 114 money: 122478.99999999975
Begining day 115 money: 124765.99999999975
Begining day 116 money: 124065.99999999975
Begining day 117 money: 121396.99999999974
Begining day 118 money: 118545.99999999974
Begining day 119 money: 118779.99999999972
Begining day 120 money: 117717.99999999972
Begining day 121 money: 117088.99999999972
Begining day 122 money: 112806.99999999972
Begining day 123 money: 109890.99999999977
Begining day 124 money: 108465.99999999975
Begining day 125 money: 107905.99999999975
Begining day 126 money: 105945.99999999975
Begining day 127 money: 107297.99999999977
Begining day 128 money: 105382.9999999998
Begining day 129 money: 106695.99999999981
Begining day 130 money: 108515.99999999981
Begining day 131 money: 107254.99999999981
Begining day 132 money: 106604.99999999981
Begining day 133 money: 106669.9999999998
Begining day 134 money: 107709.99999999983
Begining day 135 money: 106162.99999999981
Begining day 136 money: 105655.99999999981
Begining day 137 money: 107150.9999999998
Begining day 138 money: 107436.99999999981
Begining day 139 money: 106448.99999999981
Begining day 140 money: 105404.99999999981
Begining day 141 money: 105668.99999999981
Begining day 142 money: 105896.99999999981
Begining day 143 money: 107262.99999999981
Begining day 144 money: 106410.99999999981
Begining day 145 money: 106206.99999999981
Begining day 146 money: 107310.9999999998
Begining day 147 money: 106794.9999999998
Begining day 148 money: 103518.99999999981
Begining day 149 money: 102473.99999999981
Begining day 150 money: 101318.99999999981
Begining day 151 money: 97008.9999999998
Begining day 152 money: 96927.9999999998
Begining day 153 money: 95627.99999999981
Begining day 154 money: 98048.99999999981
Begining day 155 money: 99698.99999999981
Begining day 156 money: 99558.99999999983
Begining day 157 money: 102578.99999999983
Begining day 158 money: 102754.99999999984
Begining day 159 money: 103117.99999999984
Begining day 160 money: 108287.99999999983
Begining day 161 money: 113267.99999999985
Begining day 162 money: 115511.99999999987
Begining day 163 money: 113831.99999999987
Begining day 164 money: 111920.99999999985
Begining day 165 money: 115235.99999999985
Begining day 166 money: 111816.99999999985
Begining day 167 money: 113160.99999999987
Begining day 168 money: 110001.99999999988
Begining day 169 money: 111261.9999999999
Begining day 170 money: 110253.99999999991
Begining day 171 money: 107769.99999999993
Begining day 172 money: 106580.99999999993
Begining day 173 money: 106558.99999999991
Begining day 174 money: 107042.99999999991
Begining day 175 money: 108912.99999999991
Begining day 176 money: 110280.9999999999
Begining day 177 money: 109972.9999999999
Begining day 178 money: 110918.99999999991
Begining day 179 money: 109906.99999999991
Begining day 180 money: 112347.99999999988
Begining day 181 money: 113019.99999999987
Begining day 182 money: 113631.99999999987
Begining day 183 money: 114987.99999999988
Begining day 184 money: 116487.99999999987
Begining day 185 money: 113787.99999999987
Begining day 186 money: 110494.99999999987
Begining day 187 money: 113277.99999999987
Begining day 188 money: 113871.99999999985
Begining day 189 money: 109020.99999999984
Begining day 190 money: 108860.99999999983
Begining day 191 money: 110510.99999999984
Begining day 192 money: 110158.99999999984
Begining day 193 money: 109872.99999999984
Begining day 194 money: 109872.99999999985
Begining day 195 money: 110521.99999999985
Begining day 196 money: 111555.99999999984
Begining day 197 money: 110466.99999999983
Begining day 198 money: 111302.99999999983
Begining day 199 money: 112325.99999999983
Begining day 200 money: 112181.99999999983
Begining day 201 money: 110537.99999999983
Begining day 202 money: 110779.99999999983
Begining day 203 money: 111186.99999999983
Begining day 204 money: 110075.99999999983
Begining day 205 money: 109283.99999999983
Begining day 206 money: 110416.99999999983
Begining day 207 money: 109767.99999999983
Begining day 208 money: 110757.99999999983
Begining day 209 money: 107251.99999999981
Begining day 210 money: 108971.99999999981
Begining day 211 money: 107501.99999999983
Begining day 212 money: 108211.99999999983
Begining day 213 money: 109041.99999999983
Begining day 214 money: 108421.99999999983
Begining day 215 money: 108911.99999999983
Begining day 216 money: 106455.99999999983
Begining day 217 money: 107589.99999999983
Begining day 218 money: 107391.99999999983
Begining day 219 money: 109074.99999999983
Begining day 220 money: 110664.99999999984
Begining day 221 money: 109964.99999999985
Begining day 222 money: 110074.99999999987
Begining day 223 money: 111044.99999999988
Begining day 224 money: 109460.9999999999
Begining day 225 money: 107543.9999999999
Begining day 226 money: 108263.9999999999
Begining day 227 money: 108677.9999999999
Begining day 228 money: 109775.9999999999
Begining day 229 money: 109261.99999999991
Begining day 230 money: 110665.99999999991
Begining day 231 money: 108532.99999999991
Begining day 232 money: 109369.99999999991
Begining day 233 money: 113581.99999999991
Begining day 234 money: 109936.99999999994
Begining day 235 money: 113302.99999999994
Begining day 236 money: 112460.99999999996
Begining day 237 money: 112840.99999999993
Begining day 238 money: 111349.99999999991
Begining day 239 money: 110584.99999999993
Begining day 240 money: 113154.99999999994
Begining day 241 money: 112984.99999999993
Begining day 242 money: 112134.99999999991
Begining day 243 money: 114354.99999999991
Begining day 244 money: 111494.99999999991
Begining day 245 money: 112934.99999999991
Begining day 246 money: 114194.9999999999
Begining day 247 money: 115064.99999999987
Begining day 248 money: 113904.99999999987
Accuracy: 48.69

,date,batches,time_op1,op1,value_op1,time_op2,op2,value_op2,profit,totalProfit,stop,Amount
0,2020.06.01,20,10:00:00,Sell,49.45,11:30:00,Buy,50.13,-0.68,-1360.0,True,98640.0
1,2020.06.01,19,11:45:00,Sell,49.99,16:45:00,Buy,50.00,-0.01,-19.0,False,98621.0
2,2020.06.02,19,10:00:00,Buy,49.80,10:30:00,Sell,50.05,0.25,475.0,False,99096.0
3,2020.06.02,19,10:45:00,Sell,50.15,11:30:00,Buy,50.07,0.08,152.0,False,99248.0
4,2020.06.02,19,11:45:00,Buy,50.06,13:00:00,Sell,50.04,-0.02,-38.0,False,99210.0
5,2020.06.02,19,13:15:00,Buy,49.92,15:00:00,Sell,50.01,0.09,171.0,False,99381.0
6,2020.06.02,19,15:15:00,Buy,49.97,16:45:00,Sell,50.00,0.03,57.0,False,99438.0
7,2020.06.03,19,10:00:00,Sell,50.75,10:30:00,Buy,50.31,0.44,836.0,False,100274.0
8,2020.06.03,20,10:45:00,Buy,50.09,11:00:00,Sell,50.53,0.44,880.0,False,101154.0
9,2020.06.03,19,11:15:00,Sell,50.69,11:45:00,Buy,50.31,0.38,722.0,False,101876.0